<div class="margin-auto card">
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let tab of tabs" (click)="activeTab = tab" [active]="activeTab == tab"> {{tab}} </a>
    </nav>
    <mat-card class="mat-elevation-z0 margin-auto">
        <mat-card-subtitle>Seja bem vindo(a)!</mat-card-subtitle>
        <mat-card-content>
            <form>
                <mat-form-field class="full-width">
                    <mat-label>Usuário</mat-label>
                    <input matInput type="number" autocomplete="off">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" autocomplete="off">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-stroked-button (click)="entrar()">Entrar</button>
        </mat-card-actions>
    </mat-card>
</div>