<div class="space"></div>
<mat-card class="margin-auto mat-elevation-z4">
    <mat-card-subtitle>Modulos</mat-card-subtitle>

    <button mat-stroked-button>Financeiro</button>
    <button mat-stroked-button>Vendas</button>
    <button mat-stroked-button>CRM</button>
    <button mat-stroked-button>Gestão de Pessoas</button>
    <button mat-stroked-button>Relatorios</button>
    <button mat-stroked-button>Marketing</button>
    <button mat-stroked-button>Fornecedores</button>
    <button mat-stroked-button>Compras</button>
    <button mat-stroked-button>Logística</button>
    <button mat-stroked-button>Contábil</button>
    <button mat-stroked-button>Parametros do Sitema</button>
</mat-card>